*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
   scroll-behavior: smooth;
}
body{
    background: #181818;
    color: rgb(237, 237, 237);
}
#header{
    width: 100%;
    height: 100vh;
    background: url(port/me.jpg) center center  /cover;
}
.container{
padding:  10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    z-index: 1;
}
.logo{
   
    font-size: 3em ;
 color: rgb(135, 2, 58);
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 8px 20px;
}
nav ul li a{
    color: azure;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
nav ul li a::after{
    background-color: rgb(135, 2, 58);
    
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    background-color: rgb(135, 2, 58);
    
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -6px;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
   font-size: 60px;
   margin-top: 20px;
}
.header-text h1 span{
    color: rgb(135, 2, 58);
 }
 #about{
    padding: 90px 0;
    color: #ababab;
 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .about-col1{
    flex-basis: 35%;
 }
 .about-col1 img{
    width: 100%;
    border-radius: 15px;
 }
 .about-col2{
    flex-basis: 60%;
 }
 .subtitle{
    font-size: 60px;
    font-weight: 500;
    color: whitesmoke;
 }
 .tabtitles{
    display: flex;
    margin: 20px 0 40px;
 }
 .tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 450;
    cursor: pointer;
    position: relative;
 }
 .tablinks::after{
    content: "";
    width: 0;
    height: 3px;
    background: #bf2b5a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
 }
 .tablinks.activelink::after{
    width: 50%;
 }
 .tabcontents ul li{
    list-style: none;
    margin: 10px 0;
 }
 .tabcontents ul li span{
  color:rgb(228, 0, 95) ;
  font-size: 20px;
}
.tabcontents {
   display: none;
}
.tabcontents.activetab{
   display: block;
}


/*-----------skills--------------*/
#services{

   padding: 30px 0;
}
.servicelist{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   grid-gap:40px;
   margin-top: 50px;
}
.servicelist div{
  background: #444343;
  padding: 40px;
  font-size: 13px;
  font-weight: 220;
  border-radius: 12px;
  transition: background 0.5s,transform 0.5s;
}
.servicelist div h2{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 12px;
 }
 .servicelist div a{
   text-decoration: none;
   color: azure;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
 }
 .servicelist div:hover{
   background-color: rgb(144, 27, 58);
   transform: translateY(-10px);
 }

 /*-----------work--------------*/
 #portfolio{
   padding: 50px 0;
 }
 .worklist{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   grid-gap:40px;
   margin-top: 50px;
 }
.work{
   border-radius: 12px;
   position: relative;
   overflow: hidden;
}
.work img{
   width: 100%;
   border-radius: 10px;
   display: block;
 transition: transform 0.5s;
}
.layer{
   width: 100%;
   height: 0;
   background: linear-gradient(rgba(0,0,0,0.6),#bf2b5a);
   border-radius: 10px;
   position: absolute;
   left:0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   font-size: 25px;
   transition: height 0.5s;
}
.layer h3{
 font-weight: 400;
 margin-bottom: 20px;
}
.layer a{

    text-decoration: none;
    background-color: whitesmoke;
    color: #bf2b5a;
    border-radius: 16px;
    font-size: 15px;
   margin-top: 20px;
  padding: 3px 2px;
   text-align: center;
   width: 50px;
  }
  .work:hover img{
 transform: scale(1.1);
  }
  .work:hover .layer{
  height: 100%;
    }
    .btn{
      display: block;
      margin: 50px auto;
      width: fit-content;
      border: 1px solid #bf2b5a;
      padding: 10px 50px ;
      border-radius: 12px;
      text-decoration: none;
      color: whitesmoke;
      cursor: pointer;
    }
    .btn:hover{
      background-color: #bf2b5a;
    }
    .contact-left{
      flex-basis: 35%;
    }

    .contact-right{
      flex-basis: 60%;
    }

    .contact-left p{
      margin-top: 30px;
    }
    .socialicons{
      text-decoration: none;
      margin-top: 30px;
    }
    .socialicons img{
      margin-right: 15px;
      width: 80px;
      border-radius: 10px;
      background: whitesmoke;
    display: inline-block;
    transition: transform .5s;
    }
    .socialicons img:hover{
      transform: translateY(-5px);
      background-color: #bf2b5a;
    }
    .btn.btn2{
      display: inline-block;
      background: #c00842;
    }
    .contact-right{
      width: 100%;
    }
    form input,form textarea{
      width: 100%;
      border: 0;
      outline: none;
      background: #262626;
      padding: 15px;
      margin: 15px 0;
      color: #f1f1f1;
      font-size: 19px;
      border-radius: 7px;
    }
    .copyright{
      width: 100%;
      text-align: center;
      padding: 24px 0;
      background: #181818;
      color: #f1f1f1;
      font-weight: 300;
      margin-top: 20px;
    }

    @media  only screen and (max-width:600px) {
      
    }